header {
	background-color: #fff;
	color: black;
}
body {
	font-family: "Open Sans", sans-serif;
	color: black;
	background: rgb(219, 219, 219);
}

@media (prefers-color-scheme: dark) {
	header {
		background-color: black;
		color: whitez;
	}
	body {
		color: white;
		background: rgb(36, 36, 36);
	}
}
